body {
    background-color: blanchedalmond;
    
}
select {vertical-align: text-top; 
    margin: 5px;
}


fieldset {
    padding: 15px;
    width: 40%;
}
button {
    margin-left: 20px;
    
}

#output1 {
    display: none;
    width: 40%;
    position: absolute;
    float: right;
    top: 50px;
    right: 40px;
    border-style: dotted;
    padding: 10px;
}
#documentDiv {
    border-style: groove;
    background-color: #f8f8b5;
    width: 450px;
    margin: 10px;
    padding: 10px;
}